{
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": [
        ".eslintrc",
        ".babelrc",
        ".esformatter",
        ".tern-project",
        ".babelrc",
        ".prettierrc"
      ],
      "parser": "json"
    }
  ]
}
